:root{
    
}

*{

}

html{

}

/*common*/
.cp-icon{
    cursor: pointer;
}

.cp{
    cursor: pointer;
}

.cp-icon:hover{
    font-size: 18px;
}

.w-100{
    width: 100%;
}

.ml-2{
    margin-left: 2%;
}

.mt-2 {
    margin-top: 2%;
}

.float-right{
    float: right;
}

/*--------------------*/
.cn-table{

}

.cn-table .image{
    height: 100px;
}

.cn-filter{

}

.cn-filter .dropdown-menu {
    left: -100px;
}

.cn-create{

}

.cn-create .el-dialog {
    width: 70%;
}

.cn-create .el-form--label-top .el-form-item__label {
    padding: 0px 0 0px;
    font-weight: bold;
}

.cn-create .el-form-item {
    margin-bottom: 10px;
}

.cn-create .image-upload{
    width: 200px;
    height: 180px;
}

.cn-create .image-upload:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.cn-create .el-button {
    margin: 0px 9px;
}


.el-dialog__wrapper {
    top: -100px !important;
}

.cn-edit .el-dialog {
    width: 70%;
}

.cn-edit .image-upload{
    width: 200px;
    height: 180px;
}

.cn-details .el-dialog {
    width: 70%;
}

.cn-details .img{
    width: 230px;
    height: 200px;
}